body {
	background-color: #000000;
	color: #FFFFFF;
	front-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url("../resources/image/h2.png");
	background-size:1400px;
	background-position: top center;
	background-repeat: no-repeat;
}
.center{
	text-align: center;
	width: 1400px;
	height: 312px;
}

