<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<!-- Description -->
	<description>TravelDiary</description>

	<!-- Primefaces Theme: Bootstrap -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>

	<!-- Welcome file -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Error page if session expires -->
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/errorPages/expired.xhtml</location>
	</error-page>

	<!-- Error page if an error occurs -->
	<error-page>
		<error-code>500</error-code>
		<location>/errorPages/general.xhtml</location>
	</error-page>


	<!-- Error page if an page not found -->
	<error-page>
		<error-code>404</error-code>
		<location>/errorPages/notFound.xhtml</location>
	</error-page>

	<!-- Session Timeout -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>

